.postWrapper {
  border: solid;
  border-radius: 5px;
  box-shadow: darkblue 4px 4px;
  color: rgb(159, 170, 241);
  border-color: rgb(0, 0, 0);
  margin: 15px;
  min-height: 50px;
}

.postWrapper2 {
  border: solid;
  border-radius: 5px;
  box-shadow: darkblue 4px 4px;
  color: rgb(159, 170, 241);
  border-color: rgb(0, 0, 0);
  margin: 15px;
  min-height: 150px;
  max-width: 720px;
  position: relative;
  
  background-color: rgb(108, 13, 216);
}


.postWrapperBackgroundOne {
  background-color: rgb(69, 69, 199);
}

.postWrapperBackgroundTwo {
  background-color: rgb(48, 48, 116);
}

body {
background-color: rgb(95, 152, 206);
}


button {
background-color:rgb(102, 104, 241) ;
border: none;
padding: 5px;
margin: 5px;
border-radius: 5px;
min-width: 55px;
min-height: 27px;
}

.hidden{
  display: none;
}

.visible{
  display: block;
}

.editPostM {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  word-wrap: break-word;
  resize: none;
  border:none;
  outline:none;

  width: 620px;
  height: 170px;
  background-color: rgb(108, 13, 216);
}

.editPostComment {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  word-wrap: break-word;
  resize: none;
  border:none;
  outline:none;
  width: 900px;
}

input {
  background-color:rgb(102, 104, 241) ;
  border: none;
  min-height: 25px;
  border-radius: 5px;
  width: 110px;  
}

.fontX {
  font-family: 'Allan';
}

.titleX {
  padding-left: 35px;
  font-size: 35px;
  position:relative;
}

.floatLeft {
  position: relative;
  float: right;  
}

.sortWrapper {
  position: relative;
  margin-bottom: 50px;
}

.authorX {
  font-size: 25px;
  padding-left: 40px;
  padding-right: 95px;
  position:relative;
  color:rgb(22, 22, 44)
}


.titleX2 {
  overflow: hidden;
  font-size: 35px;
  position:relative;  
  top:5px;
  background-color: rgb(108, 13, 216);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  word-wrap: break-word;
  resize: none;
  border:none;
  outline:none;
  height: 34px;

}

.authorX2 {
  font-size: 25px;
  padding-left: 40px;
  padding-right: 95px;
  position:relative;
  color:rgb(22, 22, 44);
  top:46px;
  right:100px;
  
}

.dateZ {
  position: relative;
  top: 90px;
  right: 254px;
  font-size: 12px;
  color: black;
}

.messageZ {
  position: relative;
  right:200px;
  top:35px;
}

.moveUp {
  position: relative;
  bottom: 6px;
  left: 20px;
}

.buttonVote {
  font-size: 30px;  
}

.voteSize {
  font-size:  18px;
  color: rgb(0, 218, 218);
  padding-left: 10px;
  position: relative;
  bottom: 5px;
}

.readButton {
  position: relative;
  float: right;
  top: 10px;
  font-family: 'Allan';
  font-size: 20px;
}

.dateY {
  position: relative;
  top: 14px;
  right: 345px;
  font-size: 12px;
  color: black;
}

.commentDate {
  position: relative;
  top: 14px;
  right: 60px;
  font-size: 12px;
}

.newPostTitle {
 width: 300px;
}

.newPostMessage {
width: 450px;
height: 240px;
background-color:rgb(102, 104, 241) ;
border: none;
}